#gradient-h2 {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ffff00,
    #ff00f3,
    #0033ff,
    #ff00c4,
    #ff0000
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite;
}

#meine_motivation {
  padding: 100px 0;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap-reverse;
}

.about_me_container {
  width: 750px;
  max-width: 90%;
}
#meine_motivation img {
  width: 400px;
  max-width: calc(90% - 30px);
  border: 15px solid var(--main-brand-color);
}
.about_me_container h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.about_me_container p {
  text-align: left;
  line-height: 175%;
}
@media (max-width: 800px) {
  #meine_motivation {
    padding: 50px 0;
  }
  .about_me_container h2 {
    text-align: center;
    font-size: 12vw;
  }
}
