#meine_projekte {
  padding: 70px 0;
  background-color: var(--primary-color);
}
#meine_projekte h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.flex_container {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: nowrap;
}

.card {
  height: 400px;
  width: 350px;
  max-width: calc(90% - 40px);
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  border-radius: 4rem;
  padding: 60px 20px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 0;
  border-radius: 4rem;
}

.card > * {
  position: relative;
  z-index: 1;
  text-align: center;
}

.card a {
  background-color: var(--main-brand-color);
  width: min-content;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 0 auto;
  text-decoration: none;
  color: var(--text-color);
  border: 4px solid var(--main-brand-color);
  transition: 150ms ease-in-out;
}
.card a:hover {
  background: transparent;
}
@media (max-width: 500px) {
  #meine_projekte h2 {
    font-size: 12vw;
  }
  .flex_container {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
    justify-content: center;
  }
  .card {
    height: auto;
    min-height: 280px;
    width: 100%;
    max-width: 100%;
    padding: 50px 30px;
    margin: 0 auto;
    overflow: visible;
  }
}
